__pycache__/
*.py[cod]
*.so
.env
.envrc
.venv/
venv/
.pytest_cache/
.coverage*
.ipynb_checkpoints/
.DS_Store
*.log
instance/
.streamlit/secrets.toml
node_modules/
artifacts/
cache/
broadcast/
dist/
build/
